/*Commun */

p, li, a {
    font-family: 'Newsreader', serif;
    font-size: 1.1em;
    line-height: 1.3em;
    font-weight: 700;
}

/* screen 1  */

.container {
    margin-left: 0px;
    padding-left: 3%;
}

.screen .container {
    margin-right: 0px;
    max-width: 100%;
}

h1 {
    font-size: 5.5em;
    font-family: "Yusei Magic", sans-serif;
    text-shadow: pink 1px 0 10px;
}

h2 {
    font-family: "Great Vibes", cursive;
    font-size: 4rem;
    text-shadow: pink 1px 0 10px;
    margin-top: 1rem;
}

.container {
    width: 100%;
    height: 100%;
    text-align: center;
}

.row {
    width: 100%;
    height: 90%;
    text-align: left;
    padding-top: 5%;
}

@media screen and (max-width: 813px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
    .screen {
        padding: 2vw;
        width: 100vw;
    }
}

/************************** Screen 1 responsive *************************************/

@media screen and (max-width: 813px) {
    h1 {
        font-size: 3.5em;
    }
    h2 {
        font-size: 2.5em;
    }
}

/* FLECHES DE NAVIGATION */

.arrow_up {
    color: white;
    font-size: 2em;
    text-shadow: #132148 1px 0 10px;
    position: absolute;
    top: 10vh;
    left: 48vw;
}

.arrow_down {
    color: white;
    font-size: 2em;
    text-shadow: #132148 1px 0 10px;
    position: absolute;
    top: 90vh;
    left: 48vw;
}

/****** GENERAL SCREEN  1 ******/

.row {
    margin-right: 0px;
}

.screen {
    width: 100%;
    height: 100vh;
}

.screen1 {
    background-size: cover;
    margin-right: 0;
}

.onglet {
    opacity: 30%;
    top: 3vh;
    right: 2vw;
    text-shadow: none;
}

.screen1 .texteDroite {
    width: 40vw;
    margin-left: 55vw;
    height: 100%;
}

.screen1 .titrePrincipal {
    margin-top: -8vh;
    text-shadow: none;
    margin-bottom: 2vh;
}

@media screen and (max-width: 813px) {
    .screen1 .texteDroite {
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }
    .onglet {
        top: 12vh;
        font-size: 2.5em;
    }
}